# Python 가상환경 디렉토리
myenv/
venv/
env/

# __pycache__ 및 Python bytecode
__pycache__/
*.py[cod]
*.pyo

# 로그 파일
*.log
debug.txt

# macOS 시스템 파일
.DS_Store

# VS Code 설정 파일
.vscode/

# 기타 Python 관련 빌드/설정 파일
*.egg-info/
dist/
build/
myenv/
# pytest 캐시
.pytest_cache/

# 환경설정 관련
.env
